NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PHOTO_BUCKET=photos
IP_HASH_SECRET=
IP_GEOLOCATION_URL=https://ipwho.is/{ip}
IP_GEOLOCATION_TIMEOUT_MS=2500
REVERSE_GEOCODING_URL=https://api.bigdatacloud.net/data/reverse-geocode-client?latitude={lat}&longitude={lng}&localityLanguage=en
REVERSE_GEOCODING_TIMEOUT_MS=3500

SOLANA_RPC_URL=https://mainnet.helius-rpc.com/?api-key=b5e995b9-0436-4ae6-b4d8-8f7fc4798f13
WHERE_TOKEN_MINT=FpVCcppMaLTMzcJPyhNGyKunch96vppavm6Lou3Epump
WHERE_BURN_WALLET=
WHERE_TREASURY_WALLET=9DpeHu3QSr3tkr4Mr6sLiriXKnUpDhgzh7tBg3FcZxBr

NEXT_PUBLIC_APP_NAME=Somewhere
