NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PHOTO_BUCKET=photos

SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
WHERE_TOKEN_MINT=
WHERE_BURN_WALLET=
WHERE_TREASURY_WALLET=
WHERE_REWARDS_WALLET=

NEXT_PUBLIC_APP_NAME=Somewhere
